body {
    font-family: sans-serif;
    background: #f0f2f5;
    color: #4a4a4a;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-areas:
    "header"
    "aside"
    "main"
    "main"
    "main"
    "footer";
}

.container-header {
    grid-area: header;
    display: flex;
    width: 100%;
    min-height: 60px;
    height: 5vh;
    background-color: #D1E8DC;
    order: -1;
}

.container-header__img {
    margin: auto 1%;
    width: 20%;
    flex-grow: 1;
    min-width: 100px;
}

.container-header__link {
    flex-direction: row;
    width: 100%;
    margin: auto 2%;
    flex-grow: 1;
}

.container-header__link-ul {
    text-align: right;
}

.container-header__link-ul__li {
    display: inline-block;
    padding: 1% 3%;
    margin: 1%;
    flex-grow: 1;
}

.container-header__link-ul a {
    color: #009688;
    text-decoration: none;
}


.container-aside {
    grid-area: aside
    order: 1;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    order: 1;
    width: 100%;
    height: 50vh;
    align-items: center;
    min-height: 220px;
    padding: 3%;
    justify-content: space-evenly;
}



.container-aside__img {
    height: 20vh;
    margin: auto 2%;
    min-width: 150px;
    min-height: 150px;
}

.container-aside__img img {
    object-fit: cover;
    height: 20vh;
    min-width: 150px;
    min-height: 150px;
}

.container-aside__img img:hover {
    filter: contrast(150%);
}

.container-aside__info {
    display: flex;
    width: 80%;
    max-width: 300px;
    padding: 2%;
    background: #D1E8DC;
    box-shadow: 0.3px 0.3px 1px;
    flex-direction: column;
    margin: 2%;
}

.frame {
    text-align: center;
    width: 100%;
    padding: 2%;
    margin: 1% 0;
    flex-grow: 1;
}

.frame b {
    color: #009688;
}

.container-main {
    grid-area: main;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    padding: 3%;
    order: 3;
}

.container-main__img {
    width: 80%;
    margin: 3% auto;

}

.container-main__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container-main__title {
    margin: auto;
    font-size: 20px;
    padding: 3%;
    color: #009688;
}

.container-main__p {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.container-main__p p {
    padding: 3% 7%;
    text-align: center;

}

.container-footer {
    grid-area: footer;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-footer-link {
    background: #D1E8DC;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    padding: 1% 0;
}

.container-footer-link__ul {
    text-align: center;
}

.container-footer-link__ul-li {
    display: inline-block;
    list-style-type: none;
    margin: 0 4%;
    flex-grow: 1;
}

.container-footer-link__ul a {
    color: #009688;
    text-decoration: none;
    font-size: 14px;
}

.container-footer__copyright {
    flex-grow: 1;
    background: #D1E8DC;
    border-top: 0.2px solid #f0f2f5;
    font-size: 12px;
    flex-grow: 1;
    padding: 1% 1%;
    margin: 0;
    color: #009688;
}


@media screen and (min-width: 900px) {
    .container {
        display: grid;
        height: 100vh;
        grid-template-areas:
        "header header"
        "main aside"
        "main aside"
        "main aside"
        "footer footer";
        grid-gap: 1%;
        padding: 1%;
    }

    .container-header {
        grid-area: header;
        width: 100%;
        height: 12vh;
        border: 1px solid #333;
        background: #D1E8DC;

    }

    .container-main {
        border: 1px solid #333;
        grid-area: main;
        height: 100vh;
        width: 100%;
        background: #D1E8DC;
    }

    .container-aside {
        border: 1px solid #333;
        grid-area: aside;
        display: flex;
        width: 300px;
        height: 60vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 380px;
    }

    .container-aside__img {
        margin: auto;
        transform: translatey(-10%);
        max-height: 220px;
        border: 5px solid #333;
        width: 80%;
        height: 80%;
    }

    .container-aside__img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .container-aside__info {
        width: 90%;
        transform: translatey(-40%);
        padding: 1%;
        background: #D1E8DC;
        box-shadow: 0.3px 0.3px 1px;
        flex-direction: column;
        border: 1px solid #333;
    }


    .container-footer {
        border: 1px solid #333;
        grid-area: footer;

        width: 100%;
        background: #D1E8DC;
    }
}