body {
    background: #E7E6E6;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    background-color: #fff;
    padding: 50px;
    margin: 100px auto;
    border-radius: 3%;
}

.container-form {
    text-align: center;
    padding: 10px 30px;
    flex-grow: 1;
    order: 5;
    margin: auto;
}

.container-form__div {
    width: 100%;
    padding: 5px 0;

}

.container-form__div-input {
    border: none;
    background: transparent;
    border-bottom: 2px solid #AFADAE;
    color: #666;
    margin: 5px 0;
    padding: 10px 20px;
    width: 100%;
}

.container-form__div-input:focus {
    background: linear-gradient(to bottom, transparent, #DFDBDC);
    border-bottom: 2px solid #8B8B8B;
    outline: none;
}

.container-image {
    display: flex;
    width: 100%;
    flex-grow: 1;
    max-width: 300px;
    min-width: 200px;
    margin: auto;
}

.container-image img {
    flex-basis: 50%;
    border-radius: 60%;
    padding: 10px 30px;
    margin: auto;
    border-top: 2px solid #a23;
    border-bottom: 2px solid #4592BB;
    background-color: #fff;
    order: 1;
}

.container-image img:hover {
    border-bottom: 2px solid #a23;
    border-top: 2px solid #4592BB;
}

.container-form input[type="submit"] {
    background-color: #F0EFF0;
    padding: 15px;
    border-bottom: none;
}

.container-form input[type="submit"]:hover {
    background: #ECECEC ;
}

.container-form input[type="submit"]:active {
    background: linear-gradient(to bottom, #ECECEC, #F0EFF0);
}
